body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#description {
  text-align: center;
}

#main_map {
  display: block;
  margin: auto;
  height: 400px;
}